body {
    font-size: 14px;
    margin: 25px;
    font-family: Forte;
    line-height: 3;
    color: #333;
}

input {
    margin: 20px;
    width: 50%;
    border: 7px solid red;
    border-radius: 9px;
  }
  }

  

